*.7z
*.apk
*.backup
*.bak
*.bk
*.bz2
*.deb
*.doc
*.docx
*.gz
*.gzip
*.img
*.iso
*.jar
*.jpeg
*.jpg
*.log
*.ods
*.part
*.pdf
*.pkg
*.png
*.pps
*.ppsx
*.ppt
*.pptx
*.ps
*.pyc
*.rar
*.swp
*.sys
*.tar
*.tgz
*.tmp
*.xls
*.xlsx
*.xz
*.zip
**/*venv/
**/.~lock*
*-lock.json
*cov_*.xml
venv
python-venv
.pytest_cache/
.vscode/
*.egg-info/
.tox/
/.gtm/
.cargo/
venv*
.expected
**/__pycache__/
